.skill {
    padding: 50px 0 50px 0;
    position: relative;
    background: linear-gradient(to bottom, #15151530, black,
    #15151530);
    color: rgb(223, 223, 223);
  }
  .skill-box {
    background: #4f4f4ffd;
    border-radius: 64px;
    text-align: center;
    padding: 60px 50px;
    margin-top: -40px;
  }
  .skill h2 {
      font-size: 45px;
      font-weight: 700;
  }
  .skill p {
      color: rgb(223, 223, 223);
      font-size: 18px;
      letter-spacing: 0.8px;
      line-height: 1.5em;
      margin: 14px 0 75px 0;
      margin-bottom: 2em;

  }

  .skill a {
    color: white;


    :hover {
      color: rgb(160, 160, 160);
    }
  }


  .skill-slider {
    width: 80%;
    margin: 0 auto;
    position: relative;
  }
  .skill-slider .item img {
    width: 50%;
    margin: 0 auto 15px auto;
  }
  .background-image-left {
    top: 28%;
    position: absolute;
    bottom: 0;
    width: 40%;
    z-index: -4;
  }

  @media screen and (max-width: 575px) {
    .skill {
      margin-top: -100px;

      .skill-box {
        width: 100%;
        padding: 30px;

        p {
          font-size: 14px;
        }
      }
    }
  }
  
  